atomicwrites==1.4.0
attrs==20.2.0
colorama==0.4.4
comtypes==1.1.7
importlib-metadata==2.0.0
iniconfig==1.1.1
more-itertools==8.5.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==4.6.11
pywin32==228
pywinauto==0.6.8
six==1.15.0
toml==0.10.1
wcwidth==0.2.5
zipp==3.3.1
